/* common start */
body {
  margin: 0;
  padding: 0;
  font-family: PlayfairDisplay-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #626262;
}

/* common end */
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}
/* header start*/
header {
  padding: 20px 0;
  /* border: 1px solid blue; */
}
.container {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  /* border: 1px solid; */
}
.logo {
  margin-top: 13px;
  width: 12%;
  /* border: 1px solid red; */
  float: left;
}
.logo img {
  width: 100%;
}
.menu {
  width: 65%;
  /* border: 1px solid red; */
  float: right;
}
.menu ul {
  float: right;
}
.menu ul li {
  list-style: none;
  float: left;
}
.menu ul li a {
  margin: 0 50px;
  padding: 4px 1px 3px;
  display: inline-block;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.menu ul li:last-child a {
  margin-right: 0;
}
.menu ul li a:hover {
  border-bottom: 1px solid #626262;
}
/* header start end */

/* banner start */
.banner {
}
.banner_content {
}
.banner_content img {
  width: 100%;
}

/* banner end */

/* perfect start */

/* perfect end */
.perfect {
  padding-top: 100px;
  padding-bottom: 100px;
  /* border: 1px solid blue; */
}
.container2 {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  /* border: 1px solid red; */
}
.p_content {
}
.c_light {
  margin: 0;
  font-family: ubuntu-light;
  font-size: 14px;
  font-weight: 300;
  color: #626262;
  text-transform: uppercase;
}
.c_h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
}

.c_text {
  margin: 0;
  line-height: 25px;
}
.mb_40 {
  margin-bottom: 40px;
}

/* blog start */
.blog {
  padding-top: 35px;
  padding-bottom: 100px;
  /* border: 1px solid blue; */
}
.blogs {
}
.single {
  margin-top: 70px;
  width: 47%;
  /* border: 1px solid green; */
  float: left;
}
.single:nth-child(even) {
  margin-left: 6%;
}
.s_img {
  margin-bottom: 25px;
}
.s_img img {
  width: 100%;
}
.
/* blog end */
/* news letter start */
.newsletter {
}
.container4 {
  margin: 0 auto;
  padding: 50px 0px;
  background-color: #f0f0f0;
}

.signup {
  text-align: center;
}
.signup h1 {
  font-family: PlayfairDisplay-Regular;
  /* font-family: ubuntu-light; */
  font-size: 30px;
  margin-bottom: 100px;
  color: #626262;
}
.for_form {
  width: 350px;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  /* border: none; */
  background: transparent;
  /* position: absolute; */
}
.for_form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-family: PlayfairDisplay-Regular;
  font-weight: 400;
  font-size: 20px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 60px;
}
.for_form button {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 0;
}
.for_form button img {
}
/* news letter end */

/* blog2 start */
.blog2 {
  padding: 90px 0;
}
/* blog2 end */

/* button start */
.btn {
}
.container3 {
  text-align: center;
}
.container3 button {
  padding: 30px 70px;
  font-size: 30px;
  border: none;
  border: 1px solid #626262;
  background: transparent;
  transition: 0.5s;
}
.container3 button:hover {
  color: white;
  background-color: #626262;
  border: 1px solid #ffffff;
}

/* button end */
.btn {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* footer start */
.foot {
  padding: 30px 0;
  overflow: hidden;
  background-color: #f0f0f0;
}
.container5 {
  width: 88%;
  margin: 0 auto;
}
.foot_con {
  overflow: hidden;
}
.sec_left {
  float: left;
  padding-left: 7.5%;
}
.sec_left p {
  display: inline-block;
}
.sec_left p a {
  font-family: PlayfairDisplay-Regular;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;

  color: #000000;
  transform: 0.3s;
}
.sec_left p a:hover {
  border-bottom: 1px solid #626262;
}
.sec_right {
  float: right;
}
.sec_right p {
  font-family: PlayfairDisplay-Regular;
  font-weight: 400;
  font-size: 20px;

  color: #000000;
}
.sec_right p,
.fi {
  display: inline-block;
}
.sec_right a img {
  padding-left: 15px;
}
/* footer end */
